@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./styles/normalize.css);

/* body, img, h2, div, nav, li{
    border: 2px solid red;
} */
body {
    margin: 0;
    padding: 0;
}
.page {

    margin: 0 auto;
    font-family: Inter,Arial,sans-serif;
   
}




@media screen and (max-width: 1280px) {
    .header__names {
        width: 25%;
    }
    .footer__name_help {
       
        font-size: 8px;
        }
}
@media screen and (max-width: 920px) {
    .header__logo {
        height: 60px;
        width: 83px;
    }

    .header__search_input { 
        height: 20px;
    }

    .header__names {
        height: 40px;
    }

    .header__names {       
        width: 30%;
     }

    .header__search {
        margin-left: 20px;
    }

    .header__link {
        font-size: 15px;
    }
    .header__menu_nav {
        height: 30px;
    }
    .header__menu_line-up {
        height: 16px;
        width: 15%;
        top: -16px;
    }
    .header__menu_headman {
        height: 30px;
     }
     .header__menu_name-headman {
        font-size: 16px;
    }
    .header__links {
        margin: 6px 0px;
    }

    .footer__name_help {
        font-size: 7px;
    }

    .footer__name_law {
        font-size: 9px;
    }
}
@media screen and (max-width: 768px) {
    .footer__name_help {
        font-size: 6px;
    }
}

@media screen and (max-width: 755px) {
    .header__logo {
        height: 40px;
        width: 63px;
    }
    .header__search_input { 
        height: 15px;
    }
    .header__names {
        height: 35px;
    }
    .header__search {
        margin-left: 10px;
        width: 40%;
        margin-left: 47px;
        width: 75%;
        margin-right: 60px;
    }
    .header__name {
        font-size: 10px;
    }
    .header__nn {
        width: 90%;
    }
    .header__links {
        display: none;
    }
    .header__menu_headman {
        width: 45%;
    }
    .header__menus {
        width: 90%;
    }
    .header__menu_line-up {
        width: 50%;
        height: 9px;
        top: -9px;
    }
    .header__menu_name-headman {
        font-size: 15px;
    }
    .header__menu_nav {
        width: 10%;
    }
    .header__burger {
        display: flex;
        justify-content: flex-end;;
    }
    
    .header__menu_line-up {
        height: 9px;
        top: -9px;
        width: 4
        0%;
    }
    .header__burger_button {
        width: 30%;
        
        height: 24px;
    }        
}
@media screen and (max-width: 505px) {
    .header__search {
        margin-left: 10px;
        width: 50%;
        font-size: 10px;
    }
    .header__names {
        width: 50%;
    }
    .footer__name_lawsу {
        display: none;
    }
    .footer__name_help {
        font-size: 7px;
        width: 40%;
    }
    .footer__name_laws {
        width: 40%;
        font-size: 10px;
    }
    .footer__name_law {
        font-size: 7px;
    }
}


